			#map_layer_toggler_container #map_layer_title {
			background-color: rgba(255,255,255,1.0);
			text-align: center;
			padding: 4px;
			}

			#map_layer_toggler_container #map_layer_toggler {

			}

			#map_layer_toggler_container #map_layer_toggler:hover {
			}

			#map_layer_toggler_container #map_layer_toggler b {
			border: 0px solid green;
			font-weight: bold;
			color: rgba(80, 200, 80, 1.0);
			padding: 0px;
			}

			#map_layer_toggler_container .layer_block {
			border: 0px solid green;
			padding: 0px;
			width: 100% !important;
			height: 25px !important;
			}

			#map_layer_toggler_container .layer_block:hover {
			background-color: rgba(250,250,250,1.0);
			}



@media screen and (min-width: 0px) and (max-width: 680px) {
	#map_layer_toggler_container{
			font-size: 16px;
			color: black;
			position: relative;
			border: solid 2px #dddddd;
			border-radius: 5px;		
			padding: 5px;
			float: right;
			display: inline-block;
			background-color: #F5F5F5;
			width: 49%;

	}
}

@media screen and (min-width: 680px) and (max-width: 9999px) {

			#map_layer_toggler_container {
			background-color: rgba(245,245,245,1.0);
			border: 2px solid rgba(255,255,255,0.5);
			position: absolute;
			top: 10vh;
			right: 20px;
			padding: 4px;
			width: 200px !important;

			box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
			opacity: 1.0;
			}

}





