/* Fonts */
@font-face {
    font-family: 'thai_sans_literegular';
    src: url('../fonts/thaisanslite.woff2') format('woff2'), url('../fonts/thaisanslite.woff') format('woff');
    font-weight: 500;
    font-style: inherit;
}
@font-face {
    font-family: 'CSChatThai';
    src: url('../fonts/CSChatThai.ttf');
}

body, html { 
  height: 100%; 
  font-family: 'CSChatThai';
  font-size: 16px;
}

/* Style Text */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.text-color-default {
    font-family: 'CSChatThai';
    color: red; 
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'CSChatThai';
    color: #2A7CBF;
    font-weight: bold;
}

/* Style Text */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

/* CHART */
#chart_container {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(240,240,240,1.0);
    padding: 4px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100% !important;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
.navbar-blue {
    background-color: #0e76bc;
    border-radius: initial;
}
.navbar-icon {
    font-family: 'thai_sans_literegular';
    font-weight: 600;
    font-size: 1.4em;
    color: #2A7CBF;
}
.navbar-text {
    font-family: 'thai_sans_literegular';
    font-weight: 600;
    font-size: 1.5em;
    color: #2A7CBF;
}
.panel { margin-bottom: 0px; }

/* Menu Row2 */
.menu-rows2 {
    margin-top: 10px; 
    margin-bottom: 10px; 
    position: absolute; 
    top: 140px; 
    width: 100%;
}

/* Menu Checkbox */
.checkbox-postion {
    z-index: 1;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-scroll {
    overflow-y:scroll; 
    width: 100%;
}

/* BUTTON */
.btn-grey {
    color: #fff;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

/* LOADING /////////////////////////////////////////////////////////////*/
.loader > div{

  position: absolute;
  top: 50%;
  left: 50%;

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 10;
}

.loader {
	background-color: black;
	width: 100%;height:100%;
	position: absolute;
	left: 0px;top:0px; 
	display: none;
	opacity: 0.5;
	filter: alpha(opacity=50);
        z-index: 10;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Radio */
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

.disabled {
  pointer-events: none;
}
.form-control {
  border-radius: 0;
  font-size: 18px;
  border-radius: 0;
}
.btn {
  padding: 0 10px;
  font-size: 20px;
  border-radius: 0;
}

.btn-submit {
  color: #fff;
  background-color: #0076A3;
  border-color: #00648a;
}
.btn-submit:focus,
.btn-submit:hover,
.btn-submit:active {
  color: #fff;
  background-color: #00648a;
  border-color: #005170;
}

p {
  margin-bottom: 0;
}

.header ul > li > a {
  color: #2A7CBF !important; 
  padding-top: 30px; 
  padding-bottom: 0; 
  font-size: 22px;
}
.header ul > li > a:hover {
  color: #f17022 !important;
}

.text-right-indent {
  margin-right: 5px;
}

.error-content {
  font-size: 18px;
  color: #c7254e;
  text-align: right;
}

select {
  padding-top: 3px !important;
}
.nav a.active,
.nav a.disabled {
  background-color: #f17022;
  border-color: #d85b0e;
  opacity: 1;
}
ul li a {
  font-size: 18px;
}
ul.pagination li a {
  font-family: 'CSChatThai';
  padding: 2px 10px;
  font-size: 16px;
  font-weight: normal;
}
ul.ui-autocomplete li div {
  font-family: 'CSChatThai';
  font-size: 18px;
}
#uploadBtn{
    position: relative;
    overflow: hidden;
    display: inline-block;
}
#uploadBtn input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
}

.section {
  clear: both;
}
.ui-widget {
	font-family: 'Tahoma';
	font-size: 16px;
}

.header-table {
  background-color: #5a5255 !important;
  padding: 5px 0 !important; 
}
.header-table h3 {
  margin: 0 auto; 
  color: #FFFFFF;
}
.table thead {
  background-color: #65737E; 
  color: #FFFFFF;
}
.table thead th {
  vertical-align: middle !important;
  padding: 3px 10px  !important;
  font-size: 18px;
}
.table tbody td {
  vertical-align: middle !important;
  padding: 4px 10px !important;
  font-size: 16px;
}

.search-detail-table tbody tr.search-detail-total {
  background-color: #4cae4c; 
  color: #FFFFFF; 
  font-weight: bold;
}
.search-detail-table tbody tr:not(.search-detail-total):hover,
.search-table tbody tr:hover,
.eform-table tbody tr:hover {
  cursor: pointer;
  background-color: #D3E3F0;
}
.active-row {
  background-color: #ffe9a6 !important;
}

.user-menu img {
  width: 40px;
  height: 40px;
  margin-top: -5px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-menu span {
  padding-top: 10px;
}
.user-menu-detail {
  margin-top: -20px;
  right: 0;
  position: absolute;
  z-index: 9999;
  width: 20%;
  background-color: #3C8DBC;
  padding: 0;
  color: #FFFFFF;
}
.user-menu-detail-avatar {
  margin-top: 20px;
}
.user-menu-detail-avatar img {
  width: 100px;
  height: 100px;
  border: 5px solid #63A4C9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-menu-detail-label {
  color: #F9F9F9;
  font-size: 20px;
}
.user-menu-detail-btn {
  background-color: #ECF0F5;
  padding: 10px;
}
.ui-autocomplete { 
  height: 34vh;
  overflow-x: hidden;
  overflow-y: scroll; 
}

.loading {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100px;
   height: 100px;
   margin-top: -50px;
   margin-left: -50px;
}
.popup-info {
  font-size: 20px;
}